<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/style.css">
    <title>Document</title>
</head>
<body>
    <h1>About Bernd!</h1>
    <a href=".">Back to Home</a>
    <p>Bernd das Brot is a character on the children's television channel KiKA. It is a talking and mostly depressed loaf of bread with very short arms because its hands are right on the loaf, which represents the torso including the head. He can be seen in the Kika night loops and in Bernd & Friends. Previously he also appeared on the shows Chili TV, Tolle Dinge, Bravo Bernd, Bernd das Brot, Berndivent and the Bernd das Brot series. Bernd das Brot can be seen in the KiKA television series since 2000. The character became known to many adult television viewers in 2003, when KiKA showed a loop with selected Bernd films in the – officially non-broadcasting – period from 9 p.m. to 6 a.m. Due to his style, Bernd das Brot has found many adult fans and received a lot of media attention. He has achieved cult status among his fans. In 2004, "Bernd das Brot" was awarded the Adolf Grimme Prize.</p>
</body>
</html>