<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/style.css">
    <title>Bernd!</title>
</head>
<body>
    <h1>WORKS</h1>
    <a href=".">Back to Home</a>
    <p> <li>2003: Dance the Bread (single)</li>
        <li>2003: Rockt das Brot (album)
        Chili TV rap / I have a little cha cha cha / I say NO / Too late (sung by Chili the sheep) / Bluesbrot Bernd / Briegel, come on / I want to go home again / Tanzt das Brot / Saulaut (sung by Chili dem Sheep) / Bielefeld / Easy Briegel / Shrieks the Sheep (sung by Chili the Sheep) / Bushy, bready, hot with chili / Everyone just goes away / Dubididum</li>
        <li>2004: Bernd's Balcony (single)</li>
        Exclusive sampler contributions:
        
        <li>2001: What's up? (on the sampler KiKA-Hits)</li>
        <li>2007: Tanzt das Brot (Party-Mix 2007) (on the sampler KiKA Hits - The best of the first 10 years)</li>
        <li>2007: P... like party (on the sampler KiKA birthday party)</li>
        <li>2008: Soccer Soccer Hey Hey Hey (on the KiKA soccer hits sampler)</li></li>
</body>
</html>